


   .customContainer {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); /* Large shadow */
    border-radius: 8px; /* Rounded corners */
    width: 80%; /* Default width */
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 8px; /* Space between items */
  }
  
  /* Adjustments for medium screens (768px and above) */
  @media (min-width: 768px) {
    .customContainer {
      width: 66.67%; /* 2/3 width */
      flex-direction: row; /* Layout items in a row */
      justify-content: space-around; /* Space items evenly */
    }
  }
  
  .customTextHeading {
    font-size: 1.5rem; /* Equivalent to text-2xl */
    transition: color 0.3s ease; /* Smooth color transition on hover */
  }
  
  .customTextHeading:hover {
    color: #7dd3fc; /* Equivalent to blue-300 */
  }
  
.customHover{
    margin-left: 0.5rem;
}

  .customHover:hover {
    color: #93c5fd; /* This is the blue-300 color */
  }
  /* header css completed */


  .customSpaceY {
    display: grid;
    gap: 0.75rem; /* This is equivalent to the 3 unit in space-y-3 (which is 12px) */
  }
  /* Base styles */
.customFlex {
  display: block; /* Default to block on smaller screens */
}

/* Media query for medium screens and above */
@media (min-width: 768px) {
  .customFlex {
    display: flex; /* Switch to flex layout */
    justify-content: space-around; /* Distribute items evenly with space around */
  }
}
/* Default styles */
.customSpace {
  font-weight: bold; /* Equivalent to font-bold */
  display: flex;
  gap: 8px; /* Equivalent to space-x-2 (8px between items) */
}

/* Media query for medium screens and above */
@media (min-width: 768px) {
  .customSpace {
    gap: 16px; /* Equivalent to space-x-4 (16px between items) */
  }
}
.customTextHeading1 {
  
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.customTextHeading1:hover {
  color: #7dd3fc; /* Equivalent to blue-300 */
}