.customElement1 {
  color: #1a202c; 
  width: 80%; 

  border-radius: 0.375rem; 
  padding: 16px;
  border: 1px solid #e5e7eb; 
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04); 
}
